.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.teste {
  font-size: 300px;
}

.justify {
  text-align: justify;
}

blockquote {
  border-color: #01579b;
}

.skills ul li .progress .determinate .percent {
  position: absolute;
  top: -27px;
  right: 0;
  font-size: 13px;
  color: #363636;
  font-weight: 400;
}

.progress {
  overflow: visible !important;
}

.card ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flexitem {
  flex: 1 1 auto;
}

.img-card {
  height: 200px;
  width: 200px!important;
  border-radius: 100%!important;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.achiev{
  margin-left: auto!important;
  margin-right: auto!important;
}

#achievements .card{
  width: max-content!important;
  margin-left: auto!important;
  margin-right: auto!important;
}


img.profile{
  max-width: 70%;
  border-radius: 50%;
  margin: 25% 0;
  display: block;
}

h1.header.center{
  margin-bottom: 150px;
}

#sobre{
  margin-top: 50px;
}


@media only screen and (max-width: 600px) {
  img.profile {
    margin: 15%;
  }
}