<footer class="footer column primary-color shadow">
        <div class="container">
                <div class="row">
                        <div class="copyright">
                                <p>
                                        <a href="http://github.com/1cadumagalhaes"
                                                style="text-decoration: none;">@1cadumagalhaes</a>
                                        &nbsp; 
                                <p id="year">2020</p>
                                </p>
        
                        </div>
                        <div class="">
                                <img src="/assets/img/icon_white_shadow.webp" alt="cadumagalhaes logo" width="50"
                                        height="50">
                        </div>
                        <div class="social">
                                <a href="https://www.instagram.com/1cadumagalhaes" aria-label="instagram"><em
                                                class="icon fab fa-instagram"></em></a>
                                <a href="https://www.twitter.com/1cadumagalhaes" aria-label="twitter"><em
                                                class="icon fab fa-twitter"></em></a>
                                <a href="https://www.github.com/1cadumagalhaes" aria-label="github"><em
                                                class="icon fab fa-github"></em></a>
                                <a href="https://www.linkedin.com/in/1cadumagalhaes" aria-label="linkedin"><em
                                                class="icon fab fa-linkedin"></em></a>
                                <a href="https://www.twitch.tv/1cadumagalhaes" aria-label="twitch"><em
                                                class="icon fab fa-twitch"></em></a>
                                <!--<a href="https://www.youtube.com/1cadumagalhaes" aria-label="youtube"><em
                        class="icon fab fa-youtube"></em></a>-->
                                <a href="https://www.medium.com/@1cadumagalhaes" aria-label="medium"><em
                                                class="icon fab fa-medium"></em></a>
                                <a href="https://ko-fi.com/1cadumagalhaes" aria-label="ko-fi buy me a coffee"><em
                                                class="icon fa fa-coffee"></em></a>
                        </div>
                </div>

        </div>
</footer>