<header>
    <nav class="navbar primary-color shadow fixed row text-bg">
        <div class="container row justify-around">

            <span class="icon" onclick="responsive()">
                <em class="fa fa-bars"></em>
            </span>
            <a href="/">
                <h1 class="logo">1cadumagalhaes</h1>
            </a>
            <div></div>
            <ul class="nav row" id="topnav">
                <li><a href="/">Home</a></li>
                <li><a href="/projetos/">Projetos</a></li>
                <li><a href="/sobre/">Sobre</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/contato/">Contato</a></li>
                <li>
                    <span>
                        <em class="fas fa-sun icons"></em>
                        <label class="switch">
                            <input type="checkbox" name="" id="dark-switch" onclick="darkMode();"
                                aria-label=" dark mode">
                            <span class="slider round"></span>
                        </label>
                        <em class="fas fa-moon icons"></em>
                    </span>

                </li>
            </ul>
            <span class="closebtn icon" id="closebtn" onclick="responsive()"><em class="fa fa-times"></em></span>

        </div>

    </nav>
</header>