<script defer src="/assets/js/navbar.js">
</script>
<script defer src="/assets/js/main.js">
</script>
<link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    onload="this.rel='stylesheet'" />
<link rel="preload" as="style"
    href="https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext&display=swap"
    onload="this.rel='stylesheet'">

{% if page.customjs=="sim" %}
<script defer src="/assets/js/{{ page.js }}.js"></script>
{% endif %}